<!DOCTYPE html>
<html xmlns:sec="http://www.springframework.org/security/tags">
  <head>
    <meta charset="UTF-8" />
    <title>InfoBooks</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body
    style="
      background: url(https://i.ibb.co/gS9CJTB/error.jpg) no-repeat center fixed;
      background-size: cover;
    "
  >
    <div class="container" style="padding: 40px">
      <center>
        <h1 style="color: white">
          <strong
            >ERROR 404 <br />
            Not found</strong
          >
        </h1>
      </center>
    </div>
  </body>
</html>
