<!DOCTYPE html>
<html xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="UTF-8">
	<title>InfoBooks</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background: url(https://www.comunidad.madrid/sites/default/files/styles/image_style_16_9/public/libreria.jpg?itok=MplkYEzA) 
no-repeat center fixed; background-size: cover;">
<div class="container" style="padding:40px;">

  <center><img src="https://image.freepik.com/vector-gratis/diseno-error-404-pantalla_23-2147733006.jpg"></img></center>
  <h1><center><strong>Página no encontrada</strong></center></h1>

</div> 
</body>
</html>