.menu, .menu ul, .menu li, .menu a {
  z-index: 5;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.menu {
  height: 70px;
  width: 100%;
  background-color: #26272b;
  border-radius: 3px;
  border-radius: 5px;
}

.menu li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  height: 50px;
}

.menu a {
  display: block;
  padding: 0 30px;
  margin: 20px 0;
  line-height: 28px;
  text-decoration: solid;
  
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
}



.menu li:hover > a {color: #007bff}

.menu ul {
  position: absolute;
  top: 50px;
  left: 20px;
  
  opacity: 0;
  background: #26272b;
  
  border-radius: 0 0 10px 10px;
  transition: opacity .20s ease .1s;
}

.menu li:hover > ul {opacity: 1;}

.menu ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
  
  transition: height .25s ease .1s;
}

.menu li:hover > ul li {
  height: 50px;
  overflow: visible;
  padding: 0;
}

.menu ul li a {
  width: 180px;
  padding: 10px 20px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-weight: normal;
}
.menu ul li:last-child a { border: none; }

.search-box{
  margin-top: 10px;
  top: 50%;
  left: 50%;
  height:40px;
  transform: translate(-50%, -50%);
  position:relative;
  display: flex;
  background-color:#ffffff;
  border-radius: 18px
}

.search-box button{
  width: 40px;
  height:40px ;
  border-radius: 50%;
  border:none;
  color:#2C3A47;
}

.search-box input{
  border:none;
  outline:0px;
  padding: 0px 0px;
  background-color:transparent;
  border-radius: 18px;
  color:rgb(0, 0, 0);
  font-size: 20px;
  width: 0px;
  box-sizing: border-box;
  transition: .3s;
}

.search-box button:hover{
   cursor: pointer;
}

.search-box:hover .text{
  width:240px;
  padding: 10px 20px;
  
}

@media screen and (max-width:1200px) {
  .desktop {
     display: none; 
  }
}

@media screen and (min-width:1200px) {
  .mobile{
     display: none; 
  }
}

.search {
  margin-top: 10px;
  top: 50%;
  left: 50%;
  height:40px;
  transform: translate(-50%, -50%);
  position:relative;
  display: flex;
  background-color:#ffffff;
  border-radius: 18px
}

.search button{
  width: 40px;
  height:40px ;
  border-radius: 50%;
  border:none;
  color:#2C3A47;
}

.search input{
  border:none;
  outline:0px;
  padding: 0px 0px;
  background-color:transparent;
  border-radius: 18px;
  color:rgb(0, 0, 0);
  font-size: 20px;
  width: 0px;
  box-sizing: border-box;
  transition: .3s;
}

.search .text{
  width:150px;
  padding: 10px 20px;
}